div
{
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  padding: 5%;
  text-align: center;
}
body
{
  background-image: url('emmy.jpg');
  background-size: cover;
  background-repeat: yes;
  background-position: center;
  margin: 0;
}
.header
{
  width:70%;
  margin-left: 10%;
  margin-right: 10%;
  height:50px;
  background: honeydew;
  color: darkblue;
}
.content
{
  width:70%;
  margin-left: 10%;
  margin-right: 10%;
  height:50px;
  background: honeydew;
  color: darkblue;
}
button
{
  background-color: red;
  color: black;
  Width: 20px;
  box-shadow: 0 4 12 rgba(0, 0, 0, 0.8);
}
.after
{
  position: absolute;
  right: 0;
  bottom: 0%;
  margin-bottom: 5%;
  margin-right: 50%;
}
.before
{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 5%;
  margin-right: 3%;
}
.effect
{
  color: white;
  background-color: black;
  margin-top: 30px;
}
